body {
  margin-left: 10;
  margin-right: 14;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(31, 31, 228, 0.801);
  color: white;
  border-radius: 3px;
  font-size: 14px;
  transition: 300ms all;
  cursor: pointer;
  align-items: center;
  border: 2px solid rgba(31, 31, 228, 0.2);
}

.button:disabled {
  background-color: rgba(31, 31, 228, 0.401);
  color: white;
  border: 2px solid rgba(31, 31, 228, 0.101);
}

.button:disabled:hover {
  background-color: rgba(31, 31, 228, 0.401);
  color: white;
  border: 2px solid rgba(31, 31, 228, 0.101);
}

.button:hover {
  background-color: rgba(228, 61, 31, 0.808);
  color: black;
  border: 2px solid rgba(228, 61, 31, 0.808);
}

.image-button:hover {
  background-color: rgba(228, 61, 31, 0.808);
}

.input-wrap {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
}

.input-border {
  border-radius: 3px;
  border: 2px solid rgba(31, 31, 228, 0.2);
  display: flex;
  align-items: center;
}

.input {
  border-radius: 3px;
  border: 0;
  width: 100%;
  padding: 10px;
}

.input:focus {
  outline: none;
}

.input-wrap:focus-within .input-border {
  border: 2px solid rgba(31, 31, 228, 0.801);
}

.input-image {
  margin-right: 5px;
  margin-left: 5px;
}

.todo-list-add {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 8px;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.todoAdd {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 8px;
  max-width: 500px;
}

.todoList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  padding: 0;
}

.todoItem {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr auto;
  border: 2px solid rgba(228, 61, 31, 0.208);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  max-width: 498px;
}
